<header>
	<div class="identity">
		<img class="logo" src="<%= url('img/logo.png') %>" alt="">
	</div>
	<div class="title-block">
		<p class="title">Reassure</p>
	</div>
</header>
<div class="hero">
	<h1 class="headline"></h1>
</div>