<div class="container-fluid">
    <div class="statistic-section row">
        <div class="statistic-circle">
            <span class="statistic-figure">?</span>
        </div>
        <p class="statistic-text">percent of your friends say they have herpes.</p>
    </div>
</div>
<!-- Container inside banner for full width color -->
<div class="cta-callout-banner">
    <div class="container-fluid">
        <p class="cta-callout-text">Do you?</p>
    </div>
</div>
<div class="container-fluid ">
    <div class="cta-explainer">
        <p class="cta-explainer-text">Answer <strong>honestly</strong> and <strong>anonymously</strong> to learn how you compare to your friends.
        <br>
        <br>
        There is power in sharing.</p>
    </div>
    <a href="/login">
        <button type="button" class="btn btn-primary btn-lg btn-block facebook-btn">
            <p style="margin:0; font-size:12px">Connect with Facebook to learn</p>
        </button>
    </a>
</div>