X% of your friends have herpes.

<br><br>Do you?

<form action="/question" method="post">
  <div class="form-group">
    <div class="radio">
      <label><input type="radio" name="answer" value="true">Yes</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="answer" value="false">No</label>
    </div>
    <input class="btn next-step" type="submit" value="Share Anonymously">
  </div>
</form>

<br><br><%= session['facebok_id'] %>