/* Mobile-first */

body {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

header {
	width: 100%;
	background: #A0CBAF;
}

/* Title & Identity */

.title-block {
	padding: 1em 0;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.title {
	display: inline-block;
	font-size: 28px;
	font-family: sans-serif;
	color: #617B6A;
}

.tagline {
	color: #617B6A;
}

/* Statistic / Hero Section */

.statistic-section {
	padding: 2em 0 .5em 0;
	text-align: center;
}

.statistic-circle {
	width: 100px;
	height: 100px;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #888888;
	margin: 0 auto;
}

.statistic-figure {
	display: inline-block;
	position: relative;
	padding-top: .5em;
	font-size: 40px;
	color: #888888;
}


.statistic-text {
	width: 100%;
	padding: .5em 1em;
	font-size: 18px;
	color: #888888;
}

/* Call to Action Section */

.cta-callout-banner {
	width: 100%;
	padding: 1em 1em;
	text-align: center;
	background-color: #FAEBAF;
}

.cta-callout-text {
	line-height: 100%;
	color: #888888;
	margin: 0;
}

.cta-explainer {
	width: 100%;
	padding: 2em 1em;
	text-align: center;
}

.cta-explainer-text {
	font-size: 14px;
	color: #888888;
	margin: 0;
}

.cta-actions {
	width: 100%;
	padding: 0 1em;
}

.answer-btns {
}

.answer-btn {
	color: #428bca;
	text-shadow: none;
	background-color: white;
	border: 1px solid #428bca;
	border-radius: 3px;
	background-image: none;
}

.facebook-btn {
	background-color: #428bca;
	border: none;
	border-radius: 3px;
	background-image: none;
	padding: 1em 1em;
	margin-bottom: 1em;
}

.submit-btn {
	color: white;
	background-color: #428bca;
	border: none;
	border-radius: 3px;
	background-image: none;
	padding: 1em 1em;
	margin: 1em 0;
}

.logout-button {
	border: 1px solid #428bca;
	border-radius: 3px;
}

/* Desktop Styles */
@media (min-width: 40em) {
  }
